@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&display=swap');

:root {
    --backgroud:#141E27;
    --titulo: #5EE6EB;
    --verde:#00A416;
    --barra:#4D4C7D;
    --subtitulo:#363062;
    --segundo_subtitulo:#B8FFF9;
    --escrita: #fff;
}

* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--backgroud);
}

body, button, input, select,textarea{
    font-family:'Roboto', sans-serif;;
    color: white;
}
/* tamanho das letras */
h1{
    font-size: 60px;
}

h2{
    font-size: 30px;
}
/* define a margem e a gordura da fonte */
h1, h2{
    margin: 0;
    font-weight: 700;
}

p{
    font-size: 30px;
    color:var(--escrita)
}

button{
    background: var(--verde);
    border: 0;
    border-radius: 5px;
    padding: 8px 35px;
    color: var(--escrita);
    font-weight: bold;
    font-size: 18px;
}

header{
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}

header .container h1{
    width: 200%;
    padding: 0 0px;
}

header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img{
    display: none;  
}

header .container h1{
   color: var(--titulo)
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: var(--backgroud);
    padding: 0 100px;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav img{
    height: 55px;
}

nav ul a{
    font-size: 24px;
    color: var(--titulo);
    text-decoration: none;
    margin: 0 35px;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .container h1{
    font-size: 50px;
    color: var(--titulo);
}

.about-me .container p{
    font-size: 25px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.about-me .img-container img {
    width: 50%;
    height: 100%;
}

.about-me .img-container .line {
    width: calc(50% + 50px);
    height: calc(100% + 50px);
    border: 3px solid var(--subtitulo);
    position: absolute;
    top: -25px;
    left: calc(50% - 50%/2 - 25px);
}

.about-me .img-container .line.blue {
    transform: rotate(-4.3deg);
    border-color: var(--titulo);
}
.servicos-container {
    text-align: center;
}

.servicos-container h1 {
    color: var(--subtitulo);
}

.servicos-container h2 {
    color: var(--segundo_subtitulo);
    padding-top: 120px;
    white-space: nowrap;
}

.servicos-container h3 {
    color: white;
    padding-bottom: 150px;
    white-space: nowrap;
}

.servicos-container .caixinhas{
    display: inline-flex;
    background:#2E3439;
    border: 1px solid var(--subtitulo);
    margin: 60px;
    width: 250px;
    height: 400px;
    border-radius: 2%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 150px;
    left: calc(50% - 50%/2 + 50px);
    justify-content: space-between;
}

.servicos-container .caixinhas span{
    content: "";
    border-radius: 100%;
    width: 116px;
    height: 116px;
    position: absolute;
    background: #141E27;
    align-items: center;
}

.servicos-container .caixinhas span img{
    position: relative;
    width: 50%;
    height: 50%;
    top: calc(73% - 58px);
}

.curriculo-container h1{
    color: var(--subtitulo);
    text-align: center;
}

.curriculo-container .informacao h2 {
    padding: 10px;
    padding-top: 17px;
    display:inline-flex;
    font-weight: normal;
}

.curriculo-container .dados h3{
    padding-bottom: 18px;
    padding-left: 20px;
    font-size: x-large;
}

.curriculo-container .dados button{
    background-color: #2E3439;
    width: 80%;
    height: 70px;
    border: 1px solid var(--subtitulo);
    color: var(--segundo_subtitulo);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.curriculo-container .dados button svg{
    width: 50px;
    height: 50px;
}

.curriculo-container .curriculos{
    padding: 10px;
    display:inline-flex;
}

.curriculo-container .curriculos span img{
    width: 100%;
    height: 80%;
    display:inline-flex;
    position: relative;
    padding: 20px;
}

.final{
    text-align: center;
}

.final h2{
    padding: 50px;
}

.final button{
    width: 350px;
    height: 70px;
    border-radius: 15px;
    font-size: 30px;
}

.final .feather_icons{
    padding: 50px;
}

.final .feather_icons img{
    padding-bottom: 20px;
    width: 120px;
    height: 90px; 
}

.final .feather_icons svg{
    color: var(--titulo);
    display:inline-flex;
    width: 115px;
    height: 115px;
    padding-right: 30px;
}

footer{
    font-size: 20px;
}

@media (max-width:767px) {
    header .container{
        width: 100%;
    }
    header .container img{
        display: inline;
        height: 55px;
        margin-bottom: 75px;
    }
    nav img{
        display: none;
    }
}