@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&display=swap');

:root {
    --backgroud:#141E27;
    --titulo: #5EE6EB;
    --verde:#00A416;
    --barra:#4D4C7D;
    --subtitulo:#363062;
    --segundo_subtitulo:#B8FFF9;
    --escrita: #fff;
}

* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--backgroud);
}

body, button, input, select,textarea{
    font-family:'Roboto', sans-serif;;
    color: white;
}
/* tamanho das letras */
h1{
    font-size: 44px;
}

h2{
    font-size: 24px;
}
/* define a margem e a gordura da fonte */
h1, h2{
    margin: 0;
    font-weight: 700;
}

p{
    color:var(--escrita)
}

button{
    background: var(--verde);
    border: 0;
    border-radius: 5px;
    padding: 8px 35px;
    color: var(--escrita);
    font-weight: bold;
    font-size: 18px;
}

header{
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}
header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container h1{
   color: var(--titulo)
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: var(--backgroud);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img{
    height: 55px;
}

nav ul a{
    font-size: 24px;
    color: var(--titulo);
    text-decoration: none;
    margin: 0 35px;
}